# Python
__pycache__/
*.pyc

# Virtual environments
env/
venv/
.venv/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# Logs
logs/
*.log


# OS
.DS_Store
Thumbs.db

# Alembic cache
alembic/__pycache__/

